@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>后台登录</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="/Content/Admin/css/style.css" />
    <style>
        body {
            height: 100%;
            background: #16a085;
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
    <script src="/Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/js/verificationNumbers.js"></script>
    <script src="/Content/Admin/js/Particleground.js"></script>
    <script src="~/Content/Verification.js"></script>
    <script>
        $(document).ready(function () {
            //粒子背景特效
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
            //验证码
            createCode();
        });
        function submit() {
            if (!check())
                return false;
            if (!validate())
            {
                return false;
            }
            var loginForm = document.getElementById("loginForm");
            loginForm.submit();
        }
    </script>
</head>
<body>
    <form id="loginForm" method="post" action="/Login/AdminLogin" >
        <dl class="admin_login">
            <dt>
                <strong>网上拍卖后台管理</strong>
                <em>Management System</em>
            </dt>

            <dd class="user_icon">
                <input type="text" placeholder="账号"  title="请输入管理员账号" name="Username" class="login_txtbx" />
            </dd>
            <dd class="pwd_icon">
                <input type="password" placeholder="密码"  name="Password" class="login_txtbx" />
            </dd>
            <dd class="val_icon">
                <div class="checkcode">
                    <input type="text" title="请输入验证码" id="J_codetext" title="" name="VerificationCode" placeholder="验证码" maxlength="4" class="login_txtbx">
                    <canvas class="J_codeimg" id="myCanvas" onclick="createCode()">对不起，您的浏览器不支持canvas，请下载最新版浏览器!</canvas>
                </div>
                <input type="button" value="换一张" class="ver_btn" onclick="validate();">
            </dd>
            <dd>
                <div style="text-align: center; line-height:normal; background: #048f74; font-size: 16px; height: 22px; ">
                    <a href="#" class="submit_btn" onclick="submit()">立即登录</a>
                </div>
               
               
            </dd>
            <dd>
                <p>© 2018-2019 3158905126温俊婷 版权所有</p>
            </dd>
        </dl>
    </form>
</body>
</html>

