@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}
@section scripts{
       <script>
           function submit() {
               var myform = document.getElementById("message");
               var Username = document.getElementById("Username").value;
               if (Username == "") {
                   alert("请输入用户名");
                   return false;
               }
               myform.submit();
           }
       </script>
    }
<div class="positions"><h1>注册</h1></div>
<div class="content">
    <form id="message" action="/Login/Register" method="post">
        <div class="messList">
            <label>用户名：</label><input type="text" id="Username" name="Username" class="inputWidth" />
        </div>
        <div class="messList">
            <label>密码：</label><input type="password" id="Password" name="Password" class="inputWidth" />
        </div>
        <div class="messList">
            <label>确认密码：</label><input type="password" id="pwd" name="pwd" class="inputWidth" />
        </div>
        <div class="messList">
            <label>姓名：</label><input type="text" id="TrueName" name="TrueName" class="inputWidth" />
        </div>
        <div class="messList">
            <label>电话：</label><input type="text" id="Telephone" name="Telephone" class="inputWidth" />
        </div>
        <div class="messList">
            <label>身份证号码：</label><input type="text" id="IdNum" name="IdNum" class="inputWidth" />
        </div>
        <div class="messList">
            <label>联系地址：</label><input type="text" id="Address" name="Address" class="inputWidth" />
        </div>
        <div class="mes">
            <a href="#"  onclick="submit()">提 交</a>
            <input type="reset" value="重 填">
        </div>
    </form>
</div>
