@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>网上拍卖后台管理系统</title>
    <meta name="author" content="DeathGhost" />
    <link rel="stylesheet" type="text/css" href="/Content/Admin/css/style.css">
    <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
    <script src="/Content/Admin/js/jquery.js"></script>
    <script src="/Content/Admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>

        (function ($) {
            $(window).load(function () {

                $("a[rel='load-content']").click(function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (data) {
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo", "h2:last");
                    });
                });

                $(".content").delegate("a[href='top']", "click", function (e) {
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
                });

            });
        })(jQuery);
    </script>
    <script src="~/Content/Verification.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <!--header-->
    <header>
        <h1><img src="/Content/Admin/images/admin_logo.png" /></h1>
        <ul class="rt_nav">
            <li><a href="/Home/Index" target="_blank" class="website_icon">站点首页</a></li>
            <li><a href="/Login/AdminLogin" class="quit_icon">注销</a></li>
        </ul>
    </header>
    <!--aside nav-->
    <!--aside nav-->
    <aside class="lt_aside_nav content mCustomScrollbar">
        <h2><a href="/Admin/Index">系统首页</a></h2>
        @if (Session["AdminId"] != null)
        {
            <ul>
                <li>
                    <dl>
                        <dt>管理员管理</dt>
                        <!--当前链接则添加class:active-->
                        <dd><a href="/Admin/Add" class="active">添加管理员</a></dd>
                        <dd><a href="/Admin/Manage">管理员管理</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>用户管理</dt>
                        <dd><a href="/Purchaser/Mangae">用户管理</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>商品管理</dt>
                        <dd><a href="/GoodsInfo/Add">商品添加</a></dd>
                        <dd><a href="/GoodsInfo/Manage">商品管理</a></dd>
                        <dd><a href="/OrderInfo/Manage">订单管理</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>留言管理</dt>
                        <dd><a href="/FrontLeaveWord/Manage">留言管理</a></dd>
                       
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>公告管理</dt>
                        <dd><a href="/News/Add">添加公告</a></dd>
                        <dd><a href="/News/Manage">公告管理</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>系统管理</dt>
                        <dd><a href="/Admin/UpdatePwd/@Session["AdminId"]">密码修改</a></dd>
                    </dl>
                </li>
            </ul>
        }
        else
        {
            <ul>
                <li>
                    <dl>
                        <dt>个人信息管理</dt>
                        <!--当前链接则添加class:active-->
                        <dd><a href="/FrontPurchaser/Edit/@Session["PurId"]" class="active">完善个人信息</a></dd>
                        <dd><a href="/FrontPurchaser/UpdatePwd/@Session["PurId"]">密码修改</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>藏品管理</dt>
                        <dd><a href="/GoodsInfo/Add">藏品添加</a></dd>
                        <dd><a href="/GoodsInfo/Manage">我的藏品</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>我的订单</dt>
                        <dd><a href="/OrderInfo/Manage">我的订单</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>我的留言</dt>
                        <dd><a href="/FrontLeaveWord/Manage">我的留言</a></dd>
                    </dl>
                </li>

                <li>
                    <p class="btm_infor">© 俊婷 版权所有</p>
                </li>
            </ul>
        }

    </aside>




    <style>
        .dataStatistic {
            width: 400px;
            height: 200px;
            border: 1px solid #ccc;
            margin: 0 auto;
            margin: 10px;
            overflow: hidden;
        }

        #cylindrical {
            width: 400px;
            height: 200px;
            margin-top: -15px;
        }

        #line {
            width: 400px;
            height: 200px;
            margin-top: -15px;
        }

        #pie {
            width: 400px;
            height: 200px;
            margin-top: -15px;
        }
    </style>
    <section class="rt_wrap content mCustomScrollbar">
        <div class="rt_content">
            @RenderBody()
        </div>
    </section>

</body>
</html>
