@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}


<div class="positions"><h1>关于我们</h1></div>
<div class="content">
    <div style="line-height:26px;">
        <div class="pimg">
            <embed src="http://player.youku.com/player.php/sid/XNDQzNzU1OTA4/v.swf" allowfullscreen="true" quality="high" width="302" height="239" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash"></embed>
        </div>
        国际拍卖有限公司 凭借优越的地势、经济及市场条件，以及高素质、年轻化、综合能力极强的销售经营团队，依托上海鼎胜公司强大的投资管理能力，主要以藏品评估、展览、销售、交易为经营重点，常年进行展览展示交易，不定期举办各种鉴宝活动，联合各大拍卖行每年不定期举办春季、秋季等大型艺术品拍卖会，志在打造华东第一的艺术品公司。为了迎合市场需求，国际拍卖有限公司 展览服务有限公司率先推出陶瓷、玉器、近现代书画、古籍善本、珠宝翡翠、印章、邮品钱币、文房四宝、竹木牙雕、金铜佛像等专业性强的大型先展后拍项目。藏品市场交流推广种类繁多，有广度更近现代书画、古籍善本、珠宝翡翠、印章、邮品钱币有深度，可以满足不同...<a href="about.html">更多</a>
    </div>
</div><!--content/-->
<!--图片滚动开始-->
<div class="scrolllist" id="s1">
    <a class="abtn aleft" href="#left" title="左移"></a>
    <div class="imglist_w">
        <ul class="imglist">
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c1.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c2.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c3.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c4.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c5.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c6.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c7.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c8.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c9.jpg"></a>
            </li>
            <li>
                <a target="_blank" href="proinfo.html"><img src="/Content/images/c10.jpg"></a>
            </li>
        </ul><!--imglist end-->
    </div>
    <a class="abtn aright" href="#right" title="右移"></a>
</div><!--scrolllist end-->

<script type="text/javascript" src="/Content/js/jquery.js"></script>
<script type="text/javascript" src="/Content/js/slider.js"></script>
<script type="text/javascript">
    $(function () {
        //默认状态下左右滚动
        $("#s1").xslider({
            unitdisplayed: 4,
            movelength: 1,
            unitlen: 219,
            autoscroll: 3000
        });
        //默认状态下左右滚动
        $("#s2").xslider({
            unitdisplayed: 5,
            movelength: 1,
            unitlen: 197,
            autoscroll: 3000
        });

    })
</script>
<!--图片滚动结束-->
