@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}


<div class="positions"><h1>联系我们</h1></div>
<div class="content">
    <p><strong>公司全称：</strong></p>
    <p><strong>地址：</strong></p>
    <p><strong>联系方式：</strong></p>
    <p>
        <iframe src="/Map.html" width="600" height="300" frameborder="0" scrolling="no"></iframe>
    </p>
</div><!--content/-->