@{
    ViewBag.Title = "DongTai";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}

<div class="positions"><h1>最新动态</h1></div>
<div class="content" id="new">
    <ul>
        <li><a href="newinfo.html">新旧瓷器怎样鉴定</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">纸钞投资收藏的诀窍</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">收藏字画技巧</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">如何玩玉立于不败之地？风险与利润并存！</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">怎么评估玉的参考价值</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">和田玉收藏有门道 御字款收藏价值高</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">清光绪 慈禧太后岫坤玉雕双龙钮长方印玺</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">中国字画有哪些基本形式</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">石湾公仔将亮相国家博物馆</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">时间是检验陶瓷艺术品的标准</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">祖屋偶拾“太平天国”镇库大钱</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">石湾公仔将亮相国家博物馆</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">浅谈宣统瓷器的鉴藏</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">鉴别印章也是鉴别书画的佐证</a><span>2013/11/25</span></li>
        <li><a href="newinfo.html">2013版熊猫金银币跌到冰点，发行初期的购买</a><span>2013/11/25</span></li>
    </ul>
</div><!--content/-->

<p>
    <div class="yahoo2"><span class="disabled">&lt; Prev</span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2">Next &gt;</a></div>
</p>
