@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontMaster.cshtml";
}
<div class="positions"><h1>关于我们</h1></div>
<div class="content">
    <p>
        <img src="/Content/images/pimg.png" width="303" height="219" class="pimg" />
        国际拍卖有限公司 凭借优越的地势、经济及市场条件，以及高素质、年轻化、综合能力极强的销售经营团队，依托上海鼎胜公司强大的投资管理能力，主要以藏品评估、展览、销售、交易为经营重点，常年进行展览展示交易，不定期举办各种鉴宝活动，联合各大拍卖行每年不定期举办春季、秋季等大型艺术品拍卖会，志在打造华东第一的艺术品公司。
    </p>
    <p>
        为了迎合市场需求，国际拍卖有限公司 展览服务有限公司率先推出陶瓷、玉器、近现代书画、古籍善本、珠宝翡翠、印章、邮品钱币、文房四宝、竹木牙雕、金铜佛像等专业性强的大型先展后拍项目。藏品市场交流推广种类繁多，有广度更有深度，可以满足不同藏家的各类需求。
    </p>
    <p>
        鉴于国内古玩艺术品市场鉴定领域的现状，公司联合了故宫博物院、中国历史博物馆、首都博物馆等着名鉴定专家，运用国内外最先进的鉴定仪器和技术，集专家的经验，科学的物理及化学成分分析等方式为藏品进行鉴定服务和市场评估。
    </p>
</div>
  


